<div id="new-disruption-modal">
  <div class="line-emblem line-emblem-{{newDisruption.lineId}}" ng-style="{'opacity': newDisruption.lineId ? 1 : 0}">
    {{ newDisruption.lineId}}
  </div>
  <label class = "item item-input item-select">
    <div class = "input-label"> Line </div>
    <select ng-model="newDisruption.lineId">
      <option value="{{line.id}}" ng-repeat="line in lines">{{ line.name }}</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label"> From Station </div>
    <select ng-model="newDisruption.stationsByLine[line.id].fromStationId" ng-repeat="line in lines" ng-show="newDisruption.lineId == line.id">
      <option value="{{station.id}}" ng-repeat="station in line.stations">{{ station.name }}</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label"> To Station </div>
    <select ng-model="newDisruption.stationsByLine[line.id].toStationId" ng-repeat="line in lines" ng-show="newDisruption.lineId == line.id">
      <option value="{{station.id}}" ng-repeat="station in line.stations">{{ station.name }}</option>
    </select>
  </label>
  <label class = "item item-input item-select">
    <div class = "input-label"> Reason </div>
    <select ng-model="newDisruption.reason">
      <option value="{{value}}" ng-repeat="(key, value) in reasons">{{ key }}</option>
    </select>
  </label>
  <button ng-show="newDisruption.lineId && newDisruption.stationsByLine[newDisruption.lineId].fromStationId && newDisruption.stationsByLine[newDisruption.lineId].toStationId" class="btn-add-disruption" ng-click="addDisruption()">Add disruption</button>
</div>
